####################################################################################################
## DBMS Name abbreviation
## PostgreSQL:POG, Oracle:ORA, MSSQL:MSS, DB2:DB2, Sybase ASE:ASE, Mysql:MYS,
## Cubrid:CUB, Tibero:TBR, Altibase : ALT
## Abbreviations are used in : SRC_DB_TYPE, TAR_DB_TYPE
####################################################################################################
## Specifies whether to output the program main operation log to stdout.
VERBOSE=TRUE

## This option specifies the LEVEL for logging. (OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL)
LOG_LEVEL=INFO

## Specifies whether to migrate data from the source DB to the target DB.
DB_WRITER_MODE=FALSE

## Specifies whether to save the source DB data as a file.
FILE_WRITER_MODE=FALSE

####################################################################################################
# Source DBMS Configuration
####################################################################################################
## Specifies Whether to perform data extraction of the source DBMS
SRC_INCLUDE_DATA_EXPORT=FALSE

## Specifies Whether to perform schema extraction of the source DBMS 
SRC_DDL_EXPORT=FALSE

## Source DBMS Connection Information
SRC_HOST=
SRC_USER=
SRC_PASSWORD=
SRC_DATABASE=
SRC_SCHEMA=
SRC_DB_TYPE=ORA
SRC_PORT=1521
SRC_DB_CHARSET=UTF8

## Specifies the size of the buffer used for the LOB (each buffers base unit is MiB)
SRC_LOB_BUFFER_SIZE=1024

## Specifies the number of concurrent execution tables
SRC_SELECT_ON_PARALLEL=1

## When the data extracted to the source DBMS is changed to Copy syntax, 
## the number of rows to be executed in one copy syntax
SRC_COPY_SEGMENT_SIZE=3000

## Specifies the conditions for the source table data extraction query. 
## The specified where condition applies to all tables.
#SRC_WHERE_CONDITION=

## If the SRC_TABLE_DDL option is specified, only the table type is extracted 
## from the Type (view, table) of the Source Database Catalog table.
SRC_TABLE_DDL=TRUE

## Specify the migration table in the source DBMS.
## Separate tables with [,]
#SRC_INCLUDE_TABLES=

## Specify the table to exclude migration from the source DBMS.
## Separate tables with [,]
#SRC_EXCLUDE_TABLES=

## Specify the number of rows to extract in each table.
#SRC_ROWS_EXPORT=

## Sam File, Specify the path where DDL is generated
SRC_FILE_OUTPUT_PATH=./

## source DBMS case sensitivity(toupper, tolower, original)
SRC_CLASSIFY_STRING=original

## You must enter the full path to the queries.xml file that contains the query information to perform the custom select query
#SRC_FILE_QUERY_DIR_PATH=./queries.xml

## Specifies the file buffer size. (each buffers base unit is MiB) 
SRC_BUFFER_SIZE=10

## Number of rows to be requested per communication when extracting through JDBC to the source DBMS
SRC_STATEMENT_FETCH_SIZE=3000

## Used when the source DBMS is ASCII encoding.
SRC_IS_ASCII=FALSE


####################################################################################################
# Target DBMS Configuration
####################################################################################################
## Specifies whether to perform constraint (PK, FK, INDEX) script extraction of the target database (PostgreSQL).
TAR_CONSTRAINT_DDL=FALSE

## Target DBMS Connection Information
TAR_HOST=
TAR_USER=
TAR_PASSWORD=
TAR_DATABASE=
TAR_SCHEMA=
TAR_DB_TYPE=POG
TAR_PORT=5432
TAR_DB_CHARSET=UTF8
TAR_CONN_COUNT=1

## Specifies the target DBMS copy command options.
#TAR_COPY_OPTIONS=

## Specifies whether to perform the Truncate command before data is migrated.
TAR_TRUNCATE=FALSE

## Specifies whether to data append to data file.
TAR_FILE_APPEND=FALSE

## Specifies the maximum number of errors that can be allowed when performing a data migration.
TAR_LIMIT_ERROR=10

## Target Table Specify whether to create and delete PK, FK, INDEX, and extract scripts.
TAR_CONSTRAINT_REBUILD=TRUE
