/*추가 달력날짜사이의 간격*/
.cellDate{
	clear:both;
	overflow:hidden;
	padding-left:5px;
	margin-top:7px;
}


/* 레이어달력 */
.layer_calendar{
	width:231px;
	height:235px;
	background:url("../img/groupware/bg_program_calendar.png") no-repeat left top;
	position:relative;
}
.layer_calendar a{
cursor:pointer;
}
.layer_calendar a:hover{
cursor:pointer;
text-decoration:none;
color:#333;
}
.layer_calendar .year_select_box{
	position:absolute;
	top:53px;
	left:19px;
	width:70px;
	height:112px;
	overflow-y:auto;
	background:#fff;
	font-size:19px;
	font-weight:bold;
	font-family:Arial;
	border:1px solid #999;
}
*:first-child+html .layer_calendar .year_select_box{
	top:51px;
	left:17px;
}
.layer_calendar .cal_bx_top{
	padding:6px 7px 0 0;
	height:15px;
	text-align:right;
}
.layer_calendar .cal_bx_middle{
	padding:12px 0 8px 20px;
	height:20px;
}
*:first-child+html .layer_calendar .cal_bx_middle{
	padding:0 0 0 17px;
	margin:2px 0 17px 0;
}
	.cal_bx_middle strong, .cal_bx_middle a{
		vertical-align:middle;
	}
	.cal_bx_middle .font_year{
		font-size:19px;
		font-family:Arial;
	}
	.cal_bx_middle .font_month{
		font-size:32px;
		font-family:Arial;
	}
	.cal_bx_middle .month_btn{
		margin:0 15px;
	}
.layer_calendar .cal_bx_bottom{
}
	.cal_bx_bottom table{
		table-layout:fixed;
		width:98%;
		margin:0 0 0 4px;
		padding:0;
		font-family:Dotum;
	}
	.cal_bx_bottom table .sun, .cal_bx_bottom table .sun a{
		color:#ff0000;
	}
	.cal_bx_bottom table th.sat{
		color:#001eff;
	}
	.cal_bx_bottom table td.sat, .cal_bx_bottom table td.sat a{
		color:#0c4dc6;
	}
	.cal_bx_bottom table thead th{
		padding:0 0 8px 0;
		text-align:center;
	}
	.cal_bx_bottom table tbody td a{
		display:block;
		text-align:center;
		font-weight:bold;
		width:30px;
		height:18px;
		padding:5px 0 0 0;
	}
	.cal_bx_bottom table tbody td:hover{
		background:url("../img/groupware/bg_cal_hover.gif") no-repeat left top;
		text-decoration:none;
	}
	.cal_bx_bottom table tbody td.none:hover{
		background:none;
		text-decoration:none;
	}
	.cal_bx_bottom table tbody td a.today{
		background:#4692e0;
		color:#fff !important;
	}
	.cal_bx_bottom table tbody td.select{
		background:url("../img/groupware/bg_cal_hover.gif") no-repeat left top;
	}

/* 년도,월 클릭후 */
.calendar_bg2{
	width:231px;
	height:235px;
	background:url("../img/groupware/bg_program_calendar2.png") no-repeat left top !important;
	position:relative;
}
.calendar_bg2 .cal_bx_bottom2 table{
	width:100%;
	margin:13px 0 0 0;
}
.calendar_bg2 .cal_bx_bottom2 table td{
	text-align:center;
	padding:10px 0;
}
.calendar_bg2 .cal_bx_bottom2 table td a{
	font-weight:bold;
	font-size:13px;
}
/* //년도,월 클릭후 */

/* 토요일 링크 */
a.sat:link, 
a.sat:visited, 
a.sat:active,
.sat{color : #0000ff !important; text-decoration:none;}
a.sat:hover{text-decoration:underline;}

/* 일요일 링크 */
a.sun:link,
a.sun:visited,
a.sun:active,
.sun{color : #ff0000 !important; text-decoration:none;}
a.sun:hover{text-decoration:underline;}

a.search:link, 
a.search:visited, 
a.search:active,
a.search:hover,
.sun	{color:#333; font-family:Dotum; font-size:12px;text-decoration:none;}

/* 달력 */
.calendar_box{
width:100%;
position:relative;
}
.calendar_box .schedule{
position:absolute;
z-index:1500;
height:17px;
padding:2px 0 0 0;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}
.calendar_box .date_brdleft{
border-left:1px solid #b8c3c6;
}
.calendar_box .wid_dif{
width:14.4% !important;
}
.calendar_box .line1{
width:100%;
position:relative;
clear:both;
overflow:hidden;
font-weight:bold;
}
.calendar_box .line1 .cell{
float:left;
width:14%;
height:28px;
padding:8px 0 0 0;
text-align:center;
border-right: 1px solid #b8c3c6;
border-bottom: 1px solid #b8c3c6;
border-top: 1px solid #b8c3c6;
background:#e4e9ec;
}
.calendar_box .line2{
width:100%;
position:relative;
clear:both;
overflow:hidden;
z-index:1500;
}
.calendar_box .line2 .cell{
float:left;
width:14%;
min-height:80px;
height:auto;
border-right:1px solid #b8c3c6;
border-bottom:1px solid #b8c3c6;
position:relative;
z-index:1500;
padding: 7px;
}
.calendar_box .line2 .disable{
background:#F9F9F9;
z-index:1;
}
.calendar_box .line2 .disable a{
cursor:none;
}
.calendar_box .line2 .disable a:hover{
text-decoration:none;
}
.calendar_box .line2 .disable .date{
color:#B3B3B3 !important;
}
.calendar_box .line2 .cell .date{
width:16px;
display:inline-block;
color:#6D6D6D;
font-family:verdana;
font-size:10px;
font-weight:bold;
float:left;
}
.calendar_box .line2 .cell .special_day{
float:right;
font-size:11px;
color:#959595;
letter-spacing:-1px;
}
.calendar_box .today{
background:#E4EEFF;
border:1px solid #0000FF !important;
z-index:1 !important;
}