<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig
    PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN"
    "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">

<sqlMapConfig>
	<settings cacheModelsEnabled="true" enhancementEnabled="true"
		lazyLoadingEnabled="true" useStatementNamespaces="true" />
	<!-- maxRequests="32" maxSessions="10" maxTransactions="5" -->

	<!-- cmmn -->
	<sqlMap resource="egovframework/sqlQurey/cmmn/cmmnSql.xml" />
	<sqlMap resource="egovframework/sqlQurey/cmmn/cmmnCodeSql.xml" />
	<sqlMap resource="egovframework/sqlQurey/cmmn/cmmnHistorySql.xml" />
	
	<!-- sample -->
	<sqlMap resource="egovframework/sqlQurey/sample/sampleListSql.xml" />
	<sqlMap resource="egovframework/sqlQurey/sample/sampleTreeSql.xml" />
	
	<!-- backup -->
	<sqlMap resource="egovframework/sqlQurey/backup/backupSql.xml" />
	
	<!-- admin -->
	<sqlMap resource="egovframework/sqlQurey/admin/userManager/userManagerSql.xml" />
	<sqlMap resource="egovframework/sqlQurey/admin/dbserverManager/dbserverManagerSql.xml" />
	<sqlMap resource="egovframework/sqlQurey/admin/accessHistory/accessHistorySql.xml" />
	<sqlMap resource="egovframework/sqlQurey/functions/transfer/transferSql.xml" />
</sqlMapConfig>