<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app">

	<select id="selectDatabaseList" parameterType="hashmap" resultType="hashmap">
		/**
	 	* Query ID : TB_DATABASE_LIST
	 	* Description : Database List조회
	 	* Author : 박태혁
	 	**/
		SELECT 
			datname 
		FROM pg_database
		WHERE 
			datistemplate = false
	</select>

	<select id="selectTableList" parameterType="hashmap" resultType="hashmap">
		/**
	 	* Query ID : TB_TABLE_LIST
	 	* Description : Table List조회
	 	* Author : 박태혁
	 	**/
		SELECT 
			table_schema
			, table_name
		FROM information_schema.tables
		where 
			table_schema = #{dbname}
		ORDER BY table_schema,table_name
	</select>
	
	<select id="selectAuthentication" parameterType="hashmap" resultType="hashmap">
		/**
	 	* Query ID : selectAuthentication
	 	* Description : 접근제어 조회
	 	* Author : 박태혁
	 	**/
		SELECT 
			pg_read_file 
		FROM pg_catalog.pg_read_file('pg_hba.conf')
	</select>
	
	<select id="selectPgConfUnlink" parameterType="hashmap" resultType="hashmap">
		/**
	 	* Query ID : selectPgConfUnlink
	 	* Description : 접근제어 pg_hba.conf.bak unlink
	 	* Author : 박태혁
	 	**/
		SELECT pg_file_unlink('pg_hba.conf.bak')
	</select>
	
	<select id="selectPgConfWrite" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectPgConfWrite
	 	* Description : 접근제어 pg_hba.conf.tmp 생성
	 	* Author : 박태혁
	 	**/
		SELECT pg_file_write('pg_hba.conf.tmp',  #{hbadata} , false)
	</select>
	
	<select id="selectPgConfRename" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectPgConfRename
	 	* Description : 접근제어 pg_hba.conf 생성
	 	* Author : 박태혁
	 	**/
		SELECT pg_file_rename('pg_hba.conf.tmp', 'pg_hba.conf', 'pg_hba.conf.bak')
	</select>

	<select id="selectPgConfReload" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectPgConfReload
	 	* Description : 접근제어 pg_hba.conf Reload
	 	* Author : 박태혁
	 	**/
		SELECT pg_reload_conf()
	</select>
	
	<select id="selectIsSetupExtension" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectPgConfReload
	 	* Description : Extension 설치 여부
	 	* Author : 박태혁
	 	**/
	    SELECT 1 AS INS FROM PG_AVAILABLE_EXTENSIONS WHERE NAME='adminpack'
	</select>
	
	<select id="selectIsCreateExtension" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectIsCreateExtension
	 	* Description : Extension 생성 여부
	 	* Author : 박태혁
	 	**/
	    SELECT 1 from pg_extension WHERE extname = 'adminpack'
	</select>
	
	<select id="selectRoleName" parameterType="HashMap" resultType="HashMap">
		/**
	 	* Query ID : selectRoleName
	 	* Description : role 조회
	 	* Author : 박태혁
	 	**/
	    SELECT rolname FROM pg_roles
	</select>
	

</mapper>
