<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="system">
	<select id="selectDbServerInfo" parameterType="HashMap" resultType="hashmap">
		SELECT
			DB_SVR_ID
			, DB_SVR_NM
			, IPADR
			, PORTNO
			, DFT_DB_NM
			, SVR_SPR_USR_ID
			, SVR_SPR_SCM_PWD
			, FRST_REGR_ID
			, FRST_REG_DTM
			, LST_MDFR_ID
			, LST_MDF_DTM
		FROM  T_DBSVR_I
		
	</select>

</mapper>