<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="system">
	<select id="selectDbServerInfo" parameterType="DbServerInfoVO" resultType="DbServerInfoVO">
		<![CDATA[
		/**
	 	* Query ID : selectDbServerInfo
	 	* Description : Database Server 조회
	 	* Author : 박태혁
	 	**/
			SELECT
				DB_SVR_ID
				, DB_SVR_NM
				, IPADR
				, PORTNO
				, DFT_DB_NM
				, SVR_SPR_USR_ID
				, SVR_SPR_SCM_PWD
				, FRST_REGR_ID
				, FRST_REG_DTM
				, LST_MDFR_ID
				, LST_MDF_DTM
			FROM  T_DBSVR_I
			WHERE
				IPADR = #{IPADR}
			LIMIT 1
		]]>
	</select>
	
	<insert id="insertAgentInfo"  parameterType="AgentInfoVO">
		/**
	 	* Query ID : insertAgentInfo
	 	* Description : Agent 설치 등록
	 	* Author : 박태혁
	 	**/
	 	INSERT INTO T_AGTCNDT_I
	 	(
			DB_SVR_ID
			, SOCKET_PORT
			, AGT_CNDT_CD
			, STRT_DTM
			, ISTCNF_YN
			, FRST_REGR_ID
			, FRST_REG_DTM
			, LST_MDFR_ID
			, LST_MDF_DTM
	 	)
	 	VALUES
	 	(
			#{DB_SVR_ID}
			, #{SOCKET_PORT}
			, #{AGT_CNDT_CD}
			, now()
			, #{ISTCNF_YN}
			, #{FRST_REGR_ID}
			, now()
			, #{LST_MDFR_ID}
			, now()
	 	)
	</insert>
	
	<update id="updateAgentInfo"  parameterType="AgentInfoVO">
	
		/**
	 	* Query ID : updateAgentInfo
	 	* Description : Agent 설치 정보 수정
	 	* Author : 박태혁
	 	**/
	 	UPDATE T_AGTCNDT_I
	 	SET 
	 		AGT_CNDT_CD = #{AGT_CNDT_CD}
	 		, SOCKET_PORT = #{SOCKET_PORT}
	 		, ISTCNF_YN = #{ISTCNF_YN}
	 		, LST_MDF_DTM = now()
	 	WHERE
	 		DB_SVR_ID = #{DB_SVR_ID}
	 	
	</update>

	<select id="selectAgentInfo" parameterType="AgentInfoVO" resultType="AgentInfoVO">
		<![CDATA[
		/**
	 	* Query ID : selectAgentInfo
	 	* Description : Agent 설치정보 조회
	 	* Author : 박태혁
	 	**/
			SELECT
				DB_SVR_ID
				, SOCKET_PORT
				, AGT_CNDT_CD
				, STRT_DTM
				, ISTCNF_YN
				, FRST_REGR_ID
				, FRST_REG_DTM
				, LST_MDFR_ID
				, LST_MDF_DTM
			FROM  T_AGTCNDT_I
			WHERE
				DB_SVR_ID = #{DB_SVR_ID}
			LIMIT 1
		]]>
	</select>
	
	<select id="selectQ_WRKEXE_G_01_SEQ" resultType="int">
   		/**
	 	* Query ID : selectQ_WRKEXE_G_01_SEQ
	 	* Description : 작업실행로그 seq 조회
	 	* Author : 박태혁
	 	**/
    	SELECT NEXTVAL('q_wrkexe_g_01')
    </select>
    
    <insert id="insertT_WRKEXE_G"  parameterType="WrkExeVO">
   		/**
	 	* Query ID : insertT_WRKEXE_G
	 	* Description : 작업실행로그 insert
	 	* Author : 박태혁
	 	**/
	 	INSERT INTO T_WRKEXE_G
	 	(
			EXE_SN
			, SCD_ID
			, WRK_ID
			, WRK_STRT_DTM
			, WRK_END_DTM
			, EXE_RSLT_CD
			, BCK_OPT_CD
			, TLI
			, FILE_SZ
			, DB_ID
			, BCK_FILE_PTH
			, FRST_REGR_ID
			, LST_MDFR_ID
	 	)
	 	VALUES
	 	(
			#{EXE_SN}
			, #{SCD_ID}
			, #{WRK_ID}
			, now()
			, now()
			, #{EXE_RSLT_CD}
			, ''
			, 0
			, 0
			, 0
			, ''
			, 'system'
			, 'system'
	 	)
	 	
    </insert>
    
    <update id="updateT_WRKEXE_G"  parameterType="WrkExeVO">
   		/**
	 	* Query ID : updateT_WRKEXE_G
	 	* Description : 작업실행로그 update
	 	* Author : 박태혁
	 	**/
		UPDATE T_WRKEXE_G
		SET
			WRK_END_DTM = now()
			, EXE_RSLT_CD = #{EXE_RSLT_CD}
		WHERE
			EXE_SN = #{EXE_SN}
				
    </update>
    
</mapper>