html, body {height:100%; margin: 0; padding: 0; }

html>body {
	font-size: 13px; 
} /* Reset Base Font Size */

body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 80.75%;
	background: #fff;
	color: #333;
}

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }

#main { padding: 1em; }

a img { border: none; }