<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd			
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/config/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/mappers/*.xml" />
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"/>
	</bean>
	
	
	
		<!-- Backup -->
	<bean id="sqlSessionBackup" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceBackup" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/config/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/mappers/*.xml" />
	</bean>
	
	<bean id="backupDB" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionBackup"/>
	</bean>
	
		<!-- Activitylog -->
	 <bean id="sqlSessionActivitylog" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceActivitylog" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/config/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/mappers/*.xml" />
	</bean>
	
	<bean id="activitylogDB" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionActivitylog"/>
	</bean>
	
	
		<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSessionJobhistory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceJobhistory" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/config/sql-mapper-config.xml" />
		<property name="mapperLocations" value="classpath:/egovframework/sqlmap/mappers/*.xml" />
	</bean>
	
	<bean id="jobhistoryDB" class="org.mybatis.spring.SqlSessionTemplate">
			<constructor-arg ref="sqlSessionJobhistory"/>
	</bean>
	
</beans>